<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxlg.logistic.sys.mapper.PowerDaoMapper">
  <resultMap id="BaseResultMap" type="com.jxlg.logistic.sys.queryview.PowerQueryView">
    <id column="power_id" jdbcType="VARCHAR" property="powerId" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="power_name" jdbcType="VARCHAR" property="powerName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <select id="listView" resultMap="BaseResultMap">
  	select p.*,m.name from sys_power p
	left join sys_module m on
	p.module_id = m.MODULE_ID
  </select>
  
  <select id="selectPowerById" resultMap="BaseResultMap">
  	SELECT
	p.* 
FROM
	sys_power p
	LEFT JOIN sys_role_power rp ON p.power_id = rp.power_id
	LEFT JOIN sys_role r ON rp.role_id = r.role_id
	LEFT JOIN sys_emp_role er ON r.role_id = er.role_id
	LEFT JOIN sys_emp e ON er.emp_id = e.emp_id 
WHERE
	e.emp_id = #{empId}
  
  </select>
</mapper>