<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxlg.logistic.module.stock.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.jxlg.logistic.module.stock.entity.Stock">
    <id column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="stock_no" jdbcType="VARCHAR" property="stockNo" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="stock_addr" jdbcType="VARCHAR" property="stockAddr" />
    <result column="cst_id" jdbcType="VARCHAR" property="cstId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="receive_id" jdbcType="VARCHAR" property="receiveId" />
    <result column="instock_time" jdbcType="TIMESTAMP" property="instockTime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="pkgs" jdbcType="INTEGER" property="pkgs" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="CBM" jdbcType="DECIMAL" property="cbm" />
    <result column="L" jdbcType="DECIMAL" property="l" />
    <result column="W" jdbcType="DECIMAL" property="w" />
    <result column="H" jdbcType="DECIMAL" property="h" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stock_id, stock_no, stock_name, stock_addr, cst_id, order_id, receive_id, instock_time, 
    `position`, pkgs, weight, CBM, L, W, H
  </sql>
  <select id="selectByExample" parameterType="com.jxlg.logistic.module.stock.entity.StockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from s_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_stock
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_stock
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jxlg.logistic.module.stock.entity.StockExample">
    delete from s_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jxlg.logistic.module.stock.entity.Stock">
    insert into s_stock (stock_id, stock_no, stock_name, 
      stock_addr, cst_id, order_id, 
      receive_id, instock_time, `position`, 
      pkgs, weight, CBM, 
      L, W, H)
    values (#{stockId,jdbcType=VARCHAR}, #{stockNo,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, 
      #{stockAddr,jdbcType=VARCHAR}, #{cstId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{receiveId,jdbcType=VARCHAR}, #{instockTime,jdbcType=TIMESTAMP}, #{position,jdbcType=VARCHAR}, 
      #{pkgs,jdbcType=INTEGER}, #{weight,jdbcType=DECIMAL}, #{cbm,jdbcType=DECIMAL}, 
      #{l,jdbcType=DECIMAL}, #{w,jdbcType=DECIMAL}, #{h,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jxlg.logistic.module.stock.entity.Stock">
    insert into s_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="stockNo != null">
        stock_no,
      </if>
      <if test="stockName != null">
        stock_name,
      </if>
      <if test="stockAddr != null">
        stock_addr,
      </if>
      <if test="cstId != null">
        cst_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="receiveId != null">
        receive_id,
      </if>
      <if test="instockTime != null">
        instock_time,
      </if>
      <if test="position != null">
        `position`,
      </if>
      <if test="pkgs != null">
        pkgs,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="cbm != null">
        CBM,
      </if>
      <if test="l != null">
        L,
      </if>
      <if test="w != null">
        W,
      </if>
      <if test="h != null">
        H,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockAddr != null">
        #{stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="cstId != null">
        #{cstId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null">
        #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="instockTime != null">
        #{instockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="pkgs != null">
        #{pkgs,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="cbm != null">
        #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="l != null">
        #{l,jdbcType=DECIMAL},
      </if>
      <if test="w != null">
        #{w,jdbcType=DECIMAL},
      </if>
      <if test="h != null">
        #{h,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jxlg.logistic.module.stock.entity.StockExample" resultType="java.lang.Long">
    select count(*) from s_stock
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update s_stock
    <set>
      <if test="record.stockId != null">
        stock_id = #{record.stockId,jdbcType=VARCHAR},
      </if>
      <if test="record.stockNo != null">
        stock_no = #{record.stockNo,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null">
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.stockAddr != null">
        stock_addr = #{record.stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.cstId != null">
        cst_id = #{record.cstId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveId != null">
        receive_id = #{record.receiveId,jdbcType=VARCHAR},
      </if>
      <if test="record.instockTime != null">
        instock_time = #{record.instockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.position != null">
        `position` = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.pkgs != null">
        pkgs = #{record.pkgs,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.cbm != null">
        CBM = #{record.cbm,jdbcType=DECIMAL},
      </if>
      <if test="record.l != null">
        L = #{record.l,jdbcType=DECIMAL},
      </if>
      <if test="record.w != null">
        W = #{record.w,jdbcType=DECIMAL},
      </if>
      <if test="record.h != null">
        H = #{record.h,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update s_stock
    set stock_id = #{record.stockId,jdbcType=VARCHAR},
      stock_no = #{record.stockNo,jdbcType=VARCHAR},
      stock_name = #{record.stockName,jdbcType=VARCHAR},
      stock_addr = #{record.stockAddr,jdbcType=VARCHAR},
      cst_id = #{record.cstId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      receive_id = #{record.receiveId,jdbcType=VARCHAR},
      instock_time = #{record.instockTime,jdbcType=TIMESTAMP},
      `position` = #{record.position,jdbcType=VARCHAR},
      pkgs = #{record.pkgs,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=DECIMAL},
      CBM = #{record.cbm,jdbcType=DECIMAL},
      L = #{record.l,jdbcType=DECIMAL},
      W = #{record.w,jdbcType=DECIMAL},
      H = #{record.h,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxlg.logistic.module.stock.entity.Stock">
    update s_stock
    <set>
      <if test="stockNo != null">
        stock_no = #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="stockAddr != null">
        stock_addr = #{stockAddr,jdbcType=VARCHAR},
      </if>
      <if test="cstId != null">
        cst_id = #{cstId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null">
        receive_id = #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="instockTime != null">
        instock_time = #{instockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        `position` = #{position,jdbcType=VARCHAR},
      </if>
      <if test="pkgs != null">
        pkgs = #{pkgs,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="cbm != null">
        CBM = #{cbm,jdbcType=DECIMAL},
      </if>
      <if test="l != null">
        L = #{l,jdbcType=DECIMAL},
      </if>
      <if test="w != null">
        W = #{w,jdbcType=DECIMAL},
      </if>
      <if test="h != null">
        H = #{h,jdbcType=DECIMAL},
      </if>
    </set>
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxlg.logistic.module.stock.entity.Stock">
    update s_stock
    set stock_no = #{stockNo,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      stock_addr = #{stockAddr,jdbcType=VARCHAR},
      cst_id = #{cstId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      receive_id = #{receiveId,jdbcType=VARCHAR},
      instock_time = #{instockTime,jdbcType=TIMESTAMP},
      `position` = #{position,jdbcType=VARCHAR},
      pkgs = #{pkgs,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DECIMAL},
      CBM = #{cbm,jdbcType=DECIMAL},
      L = #{l,jdbcType=DECIMAL},
      W = #{w,jdbcType=DECIMAL},
      H = #{h,jdbcType=DECIMAL}
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </update>
</mapper>